Saltmarsh_cover_rest_nat_for_paper.png
Saltmarsh_Cover_for_paper.png
Burrows_for_paper.png
Saltmarsh_community_composition_YSR.png
Mangrove_DBH.jpg
Mangrove_Height.jpg
Saltmarsh_YSR_Natural_total_cover.png
Saltmarsh_burrows_line.jpg
Saltmarsh_community_composition_natrest.png
archive
Mangrove_herbivory.jpg
Mangrove_saplings.jpg
Mangrove_saplings_preso.jpg
Pneumatophore_height.jpg
Mangrove_elev_doc.jpg
Mangrove_elevation_poster.jpg
Mangrove_saplings_poster.jpg
Raw_p_values.xlsx
Saltmarsh_burrows_grey.jpg
Saltmarsh_burrows_poster.jpg
Saltmarsh_comm_comp.jpg
Saltmarsh_comm_comp_natural_label.jpg
Saltmarsh_cover_poster.jpg
Saltmarsh_elev_doc.jpg
Saltmarsh_elevation_doc.jpg
