Saltmarsh_cover_rest_nat_for_paper.png
Saltmarsh_Cover_for_paper.png
Burrows_for_paper.png
Saltmarsh_community_composition_YSR.png
Mangrove_DBH.jpg
Mangrove_Height.jpg
Saltmarsh_YSR_Natural_total_cover.png
Saltmarsh_burrows_line.jpg
Saltmarsh_community_composition_natrest.png
archive
Mangrove_herbivory.jpg
Mangrove_saplings.jpg
Mangrove_saplings_preso.jpg
Pneumatophore_height.jpg
